/*
Common
*/

html,
body {
  height: 100%;
}

.content {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.content h1 {
  left: 75px;
  font-size: 60px;
  position: relative;
}

.content .techis {
  width: 85px;
  height: 65px;
  position: absolute;
}
/*
Post
*/

.post_form {
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}

.post_form input {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.post_form textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
}

.posts ul {
  padding: 0;
}

.posts li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 20px 40px;
  list-style: none;
  position: relative;
}

.posts li .btn {
  bottom: 10px;
  left: 110px;
  display: flex;
  padding: 0px 0px;
  list-style: none;
  width: 15px;
  height: 15px;
  position: absolute;
  border: none;
}

.posts li .btn .btn1 {
  background-color: red;
  bottom: 0px;
  left: 0px;
  display: block;
  padding: 5px 5px;
  list-style: none;
  width: 15px;
  height: 15px;
  position: relative;
}

.posts li #clicks {
  bottom: 2px;
  left: 135px;
  display: flex;
  padding: 4px 4px;
  list-style: none;
  width: 15px;
  height: 15px;
  position: absolute;
}

.posts li .menu_icon {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 30px;
}

.posts li .menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 15px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

.posts li .menu button {
  text-decoration: none;
}

.posts li .logo {
  flex-basis: 15%;
}

.posts li .logo img {
  width: 60%;
  height: 40%;
}

.posts li .name_body {
  flex-basis: 85%;
}

.posts li .name_body .name {
  font-weight: bold;
}

.posts li .name_body .datetime {
  color: grey;
}

@media screen and (max-width: 500px) {
  .posts li .name_body .name {
    font-size: 30px;
  }
}
