{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
  <section class="home">
    <img class="techis" src="{% static 'img/techis.png' %}" />
    <h1>EDIT</h1>
  </section>
    <section class="post_form">
      <form action="/edit/{{post.id}}/"
        method="POST" enctype="multipart/form-data"
      >
        {% csrf_token %}
        <input type="text" name="name" placeholder="Who Are You?" value="{{post.name}}" />
        <input
          name="body"
          placeholder="What Is On Your Mind?"
          value="{{post.body}}"
        ></input>
        <a href="{%  url 'index' %}" >Cancel</a>
        <input id="submit" type="submit" value="Update" />
      </form>
    </section>
    
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/posts.js' %}"></script>
  </section>

  {% endblock %}
</section>
